h1 {
    color:lightblue
}

body {
    background-color:lightcoral
}

.profile {
    border-radius: 20px;
    box-shadow: 0px 8px 32px black;
}

.intro-section {
    align-items: center;
    gap: 3rem;
    margin: 2rem;
    background-color: red;
}