h1 {
    color:lightblue
}

body {
    background-color:lightblue
}

.profile {
    text-shadow: 1px 1px lightblue;
}

.intro-section {
    align-items: center;
    margin: 10px;
    background-color: lightcoral;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
}

.image-position {
    width: 50%;
    float: left;
}